*,
*:after,
*:before {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
}

img {
    max-width: 100%;;
}

li {
    font-size: 14px;
    line-height: 1.5;
}

header {
    border-bottom: 1px dashed #000;
    padding-top: 20px;
    padding-bottom: 10px;;
}

body {
    min-height: 1vw;
}