@use '../vendors/breakpoints' as bq;

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > main {
    flex: 100 1 auto;
    padding: 10px 20px;
  }
}

main {
  background-color: #eee;
  background: linear-gradient(270deg, #fff, #333, #999);
  background-size: 600% 600%;
  animation: backgroundScroll 30s linear infinite alternate;
  // @include bq.respond-above(md) {
  //   background: rgb(123, 238, 123);
  // }
}

@keyframes backgroundScroll {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 100%;
  }
}