$mobile: 320px;
$tablet:  768px;
$desktop:  992px;
$desktop-wide: 1100px;

@mixin at-least($device-width) {
  @media screen and (min-width: $device-width) {
    @content 
  }
}

@mixin until($device-width) {
  @media screen and (max-width: $device-width - 1) {
    @content 
  }
}