<!DOCTYPE html>
{{>head}}

<body>
    {{>ancientbrowserwarning}}
    <div class="wrapper">
        {{>header}}
        <main>
            test
           {{{picture 'source/images/shutterstock.jpg'}}}
        </main>
        {{>footer}}
    </div>
</body>

</html>