<!DOCTYPE html>
{{> templates/document-head}}

<body class="page_home">
  {{>templates/ancientbrowserwarning}}

  <div class="wrapper">
    {{>templates/header}}
    <main>

      {{#listOfLinks social.links "text" "url"}}{{/listOfLinks}}


    </main>
    {{> templates/footer}}
  </div>
</body>

</html>