<!DOCTYPE html>
{{> templates/document-head}}

<body class="page_home">
    {{>templates/ancientbrowserwarning}}

    <div class="wrapper">
        {{> templates/header}}
        <main>
            {{{picture 'shutterstock.jpg'}}}

        </main>
        {{> templates/footer}}
    </div>
</body>

</html>